
<section class="slide">
	<h1><%=@slide.title %></h1>
        
        <% if @slide.content_file != nil %>
          <%=File.read('static/slides/' + @slide.content_file).html_safe%>
        <% else %>
	<p><%=@slide.content %></p>
        <% end %>
</section>
