<ul class="fly">
  <% @display_events.each do|event| %>
    <li class="event">
      <strong><%=event.title%></strong>
      <br />
      <%=event.start_time.to_formatted_s(:time)%>
      -
      <%=event.end_time.to_formatted_s(:time)%>
    </li>
  <% end %>
</ul>
